<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- mathjax config similar to math.stackexchange -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        displayAlign: 'center',
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
    </script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <nav class="group">
        {% if site.title and site.title != page.title %}
           <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
        {% endif %}
        {% assign navigation_pages = site.html_pages | sort: 'nav_include' %}
        {% for node in navigation_pages %}
                {% if node.nav_include %}
                    {% if page.url == node.url %}
                      &nbsp;|&nbsp;<a class="active" href="{{node.url | prepend: site.baseurl}}" class="active" style="color:#b4d5fe">{{node.title}}</a>
                    {% else %}
                      &nbsp;|&nbsp;<a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
                    {% endif %}
                {% endif %}
        {% endfor %}
        </nav>
    
    <section class="page-header">
      <h1 class="project-name">{{ page.title | default: site.github.repository_name }}</h1>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
